.paragraph {
    text-align: start;
    line-height: 1.2;
    font-size: 4.2vw;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    max-width: 90%;
    color: #F3F1EE;
    .word {
        margin-right: 18px;
        margin-top: 16px;
        position: relative;

        .shadow {
            position: absolute;
            opacity: 0.1;
        }
    }
}