.sectionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 2000px;
}

@media (max-width: 1024px) {
  .servicesGrid {
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .sectionWrapper {
    padding: 3rem 1rem;
  }

  .servicesGrid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
