@use '../../../styles/variables' as *;
.card {
  width: 100%;
  border-radius: $border-radius-lg;
  padding: 0;
  cursor: pointer;
  background-color: $box-full-color;
}

.serviceText {
  padding: 1.5rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0 0 $border-radius-lg $border-radius-lg;
}

.headingContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;

  h3 {
    font-size: fluid-type(24, 48);
    font-weight: 500;
    margin: 0.7rem 0 1.5rem 0;
    color: $black;
    position: relative;
    
    @media (max-width: $breakpoint-lg) {
      font-size: fluid-type(20, 36);
    }
  }

  p {
    font-size: fluid-type(14, 18);
    color: $black;
  }
}

.viewButton {
  display: inline-block;
  background-color: transparent;
  color: $black;
  border: 1px solid $black;
  padding: 0.7rem 2rem;
  border-radius: $border-radius;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  transition: all $transition-fast ease;
  margin-top: auto;
  
  &:hover {
    background-color: $black;
    color: $white;
  }
}

@media (max-width: $breakpoint-lg) {
  .serviceText h3 {
    max-width: 30vw;
  }
}

@media (max-width: $breakpoint-md) {
  .serviceText h3 {
    max-width: 60vw;
    font-size: fluid-type(20, 32);
    margin-bottom: 1.2rem;
  }
  
  .imageWrapper {
    aspect-ratio: 16/9;
  }
}